<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Animal Trading Cards</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body class="card-body">
	<div>
		<!-- your favorite animal's name goes here -->
		<h3 class="animal-name">Northern Harrier</h3>
		<h4 class="latin-name">Circus hudsonius</h4>
		<!-- your favorite animal's image goes here -->
		<img class="image" src="northern-harrier.jpg" alt="Northern Harrier">
		<div class="border margin-1rem">
			<!-- your favorite animal's interesting fact goes here -->
			<p class="margin-1rem"><em>Northern Harriers are distinguished by a white rump patch. They often glide low and slow as they hunt.</em></p>
			<ul>
				<!-- your favorite animal's list items go here -->
				<li class="list-style-none"><span class="bold">Kingdom</span>: Animalia</li>
				<li class="list-style-none"><span class="bold">Phylum</span>: Chordata</li>
				<li class="list-style-none"><span class="bold">Class</span>: Aves</li>
				<li class="list-style-none"><span class="bold">Order</span>: Accipitriformes</li>
				<li class="list-style-none"><span class="bold">Family</span>: Accipitridae</li>
			</ul>
			<!-- your favorite animal's description goes here -->
			<p class="margin-1rem">These raptors are native to the area around Five Acre School, and are one of the most common hawks we see here. They locate their nests on the ground in marshes and prairies.</p>
		</div>
	</div>
</body>
</html>
